[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "==3.3.2"
python-dateutil = "==2.8.1"
attrs = "==19.1.0"
setuptools = "==46.0.0"
wheel = "==0.34.2"
twine = "==3.1.1"
flower = "==1.2.0"

[packages]
requests = "==2.25.1"
dateparser = "==1.0.0"
pytz = "==2021.1"
celery = "==5.0.5"
celery-redbeat = "==2.0.0"
redis = "==3.5.3"
