[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "==3.3.2"
attrs = "==19.1.0"

[packages]
requests = "==2.18.4"
dateparser = "==0.7.0"
pytz = "==2018.5"
celery = "==4.4.1"
redis = "==3.2.0"
celery-redbeat = "==0.13.0"
