[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

amqp = "==2.2.2"
APScheduler = "==3.5.1"
attrs = "==17.4.0"
billiard = "==3.5.0.3"
celery = "==4.1.0"
celery-redbeat = "==0.11.1"
certifi = "==2017.11.5"
chardet = "==3.0.4"
click = "==6.7"
falcon = "==1.4.1"
falcon-auth = "==1.1.0"
gunicorn = "==19.7.1"
httpie = "==0.9.9"
idna = "==2.6"
kombu = "==4.1.0"
pluggy = "==0.6.0"
plumbum = "==1.6.5"
postmarker = "==0.11.3"
py = "==1.5.2"
Pygments = "==2.2.0"
PyJWT = "==1.5.3"
pytest = "==3.3.2"
python-dateutil = "==2.6.1"
python-mimeparse = "==1.6.0"
pytz = "==2017.3"
redis = "==2.10.6"
requests = "==2.18.4"
rpyc = "==3.4.4"
rq = "==0.10.0"
tzlocal = "==1.5.1"
"urllib3" = "==1.22"
vine = "==1.1.4"
