-i https://pypi.python.org/simple
airtable==0.3.1
amqp==2.3.2
apistar==0.5.40
attrs==18.2.0
billiard==3.5.0.4
celery-redbeat==0.11.1
celery==4.1.1
certifi==2018.10.15
chardet==3.0.4
click==7.0
dateparser==0.7.0
gunicorn==19.7.1
idna==2.6
jinja2==2.10
kombu==4.2.1
markupsafe==1.1.0
pluggy==0.6.0
postmarker==0.11.3
py==1.7.0
pytest==3.3.2
python-dateutil==2.7.5
pytz==2018.5
pyyaml==3.13
redis==2.10.6
regex==2018.11.7
requests==2.18.4
six==1.11.0
tzlocal==1.5.1
urllib3==1.22
vine==1.1.4
werkzeug==0.14.1
whitenoise==4.1.2
