APScheduler==3.5.1
attrs==17.4.0
certifi==2017.11.5
chardet==3.0.4
click==6.7
falcon==1.4.1
gunicorn==19.7.1
httpie==0.9.9
idna==2.6
pluggy==0.6.0
py==1.5.2
py2swagger==1.0.0
Pygments==2.2.0
pytest==3.3.2
python-mimeparse==1.6.0
pytz==2017.3
PyYAML==3.12
redis==2.10.6
requests==2.18.4
rq==0.10.0
six==1.11.0
tzlocal==1.5.1
urllib3==1.22
wheel==0.24.0
Yapsy==1.11.223
