/* 6 (0.375), 7 (0.4375), 8 (0.5), 9 (0.5625), 10 (0.625), 11 (0.6875), 12 (0.75), 14 (0.875),
16 (1), 18 (1.125), 21 (1.3125), 24 (1.5), 36 (2.25), 48 (3), 60 (3.75), 72 (4.5)  px (em) */

@import url('https://rsms.me/inter/inter-ui.css');

html {
	background-color: #fff;
}

body {
	font-size: 87.5%; /* 14px */
	*font-size: small;
	color: #111;
	font-family: 'Inter UI', sans-serif;
	font-size-adjust: none;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 21px;
	/*margin: 21px 20px;*/
	/*max-width: 800px;*/
	max-width: 720px;
	margin: 42px auto;
}

html > body {
	font-size: 14px;
}

ul {
	margin: 7px;
}

ul li {
	list-style-type: disc;
	list-style-position: inside;
}

a {
	color: #007bff;
	text-decoration: none;
	border-bottom: 1px solid;
}

a:hover {
	color: #0062cc;
}

a.sly,
.sly a {
	color: inherit;
	/*border-bottom-color: #999;*/
}

a.sly:hover
.sly a:hover {
	/*border-bottom-color: #000;*/
}

p,
.p {
	margin: 14px 0;
}

.pp {
	margin: 21px 0;
}

.tp {
	margin-top: 14px;
}

.tpp {
	margin-top: 21px;
}

.bp {
	margin-bottom: 14px;
}

.no-bp {
	margin-bottom: 0;
}

h1 {
	font-size: 36px;
	line-height: 42px;
	font-weight: 700;
}

.sub {
	font-size: 18px;
}

h2 {
	font-size: 18px;
	font-weight: 700;
	margin: 42px 0 21px 0;
}

ul ul,
ul ol,
ol ul,
ol ol {
	margin-left: 20px;
}

b,
strong {
	font-weight: 700;
}

.menu {
	margin: 21px 0;
	text-align: center;
}

.header {
	text-align: center;
}

.icon {
	height: 63px;
	line-height: 63px;
}

.quiet {
	color: #999; /*#ccc*/
}

.br {
	display: none;
}

@media screen and (max-width: 762px) {
	/* 720 + (21 * 2) */

	body {
		margin: 21px;
	}

	.br {
		display: inline;
	}
}

code,
.code {
	font-family: 'Roboto Mono', monospace;
	background-color: #ddd;
	border-radius: 3px;
	padding: 1px 4px;
}
