/* 6 (0.375), 7 (0.4375), 8 (0.5), 9 (0.5625), 10 (0.625), 11 (0.6875), 12 (0.75), 14 (0.875),
16 (1), 18 (1.125), 21 (1.3125), 24 (1.5), 36 (2.25), 48 (3), 60 (3.75), 72 (4.5)  px (em) */

/*@import url('inter-ui-2.3.css');*/
@import url('https://rsms.me/inter/inter-ui.css');
/*@import url('source-code-pro.css');*/
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

html {
	background-color: #fff;
}

body {
	font-size: 100%; /* 16px */
	*font-size: small;
	color: #111;
	font-family: 'Inter UI', sans-serif;
	font-feature-settings: 'calt'; /* Contextual alternates */
	font-feature-settings: 'tnum'; /* Tabular numbers */
	font-feature-settings: 'zero'; /* Slashed zero */
	font-feature-settings: 'ss01'; /* Stylistic set #1: Open digits */
	font-feature-settings: 'case'; /* Case alternates */
	font-size-adjust: none;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 24px;
	margin: 24px 20px;
	max-width: 800px;
}

html>body {
	font-size: 16px;
}

a {
	color: #007bff;
	text-decoration: none;
	border-bottom: 1px solid;
}

a:hover {
	color: #0062cc;
}

a.sly {
	color: inherit;
	border-bottom-color: #999;
}

a.sly:hover {
	border-bottom-color: inherit;
}

.bash {
	display: block;
	white-space: pre-wrap;
	background: #000;
	border-radius: 5px;
	box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
	padding: 0 10px;
	position: relative;
	font-family: 'Source Code Pro', monospace;
	color: #fff;
}

.bash .title {
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	color: #999;
}

.bash .button {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	display: inline-block;
	/*margin-right: 4px;*/
}

.bash .close { background-color: #ec6c60; }
.bash .minimize { background-color: #f5c250; }
.bash .fullscreen { background-color: #64cb57; }

.bash .key { color: #ec6c60; }
.bash .value { color: #f5c250; }

.quiet {
	color: #999;
}


.code {
	font-family: 'Source Code Pro', monospace;
	background-color: #eee;
	border-radius: 3px;
	padding: 0 5px;
}
